.category-products {
  margin-top: 174px;
}
.category-products .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-products .header .text {
  display: flex;
  gap:16px;
}
.category-products .header .text h2 {
  font-size: 2.2rem;
  font-family: anton;
  font-weight: normal;
}
.category-products .header .text h2 span {
  font-family: anton;
  color: var(--var-main-color);
}
.category-products .header .text img{
  width: 35px;
}
.toggle-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Responsive */

@media (max-width: 768px) {
  .category-products .header {
    flex-direction: column;
    gap: 30px;
  }
}
